{% extends 'base.html' %}

{% block head %}
    <title>Location</title>
{% endblock %}

{% block body %}
<div class="container">
<h2>Location Details</h2><br>
<form action="/location" method="POST">
    <input type="text" name="name" id="name" placeholder="Name" required>
    <input type="text" name="address" id="address" placeholder="Address" required>
    <input type="text" name="incharge" id="incharge" placeholder="Incharge" required>
    <input type="tel" name="phone" id="phone" placeholder="Phone" required><br>
    <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
    </div>

</form>
{% endblock %}