{% extends 'base.html' %}

{% block head %} 
<title>Product List</title>
{% endblock %}

{% block body %} 
<h2>Movement Details</h2>
<table class="table table-hover ">
  <tr>
    <th >Movement ID</th>
    <th >Product ID</th>
    <th >Timestamp</th>
    <th >Quantity</th>
    <th >From</th>
    <th >To</th>
    <th >Action</th>
  </tr>
  {% for i in all_move  %}
  <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.pid }}</td>
    <td>{{ i.timestamp }}</td>
    <td>{{ i.quantity }}</td>
    <td>{{ i.fromloc }}</td>
    <td>{{ i.toloc }}</td>
    <td> <a href="/movelist/delete/{{i.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
    </svg></a>
</tr>
  {% endfor %}
</table>

{% endblock %}